
    {% for product in section.settings.collection.products %}
        <a href="{{ product.url }}">{{ product.title }}</a>
    {% endfor %}

{%  schema  %}
{
    "name": "Collection",
    "class": "collection",
    "settings": [
        {
            "type": "range",
            "id": "products_per_page",
            "min": 8,
            "max": 24,
            "step": 4,
            "default": 16,
            "label": "Products per page"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        }
    ],
    "presets": [
        {
            "name": "Collection"
        }
    ]
}
{% endschema %}