<div>main product</div>

{% schema %}
{
    "name": "Main PRODUCT",
    "tag": "section",
    "class": "hola",
    "settings": [],
    "blocks": [
        {
            "name": "Title",
            "type": "title",
            "settings": []
        },
        {
            "name": "Price",
            "type": "price",
            "settings": []
        }
    ]
}
{% endschema %}